<!doctype html>
<html ng-app="bestRestaurant">
  <head>
    <title>Best Restaurant App</title>
    <script src="lib/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="js/RestaurantsController.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body>
    <div class="container" ng-controller="RestaurantsCtrl">
      <div class="row" ng-show="restaurants.length">
        <div class="col-md-12">
          <h4>Search Restaurants</h4>
          <form  class="form-inline" role="form">
            <div class="form-group">
              <input ng-model="query" type="text" class="form-control" id="restaurant-name" placeholder="Search">
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 ng-show="restaurants.length && filtered.length">Restaurants List</h2>
          <h2 ng-show="restaurants.length && !filtered.length">No Matches</h2>
          <ul>
            <li ng-repeat="item in filtered = (restaurants | filter:query)">
              <span ng-mouseover="showInfo = true" ng-hide="showInfo">
                {{item.name}} <button ng-click="deleteRestaurant(item)" class="btn btn-danger btn-xs">Delete</button>
              </span>

                <div ng-show="showInfo" ng-mouseleave="showInfo = false">
                  {{item.name}} <button ng-click="deleteRestaurant(item)" class="btn btn-danger btn-xs">Delete</button>
                  <ul>
                    <li>{{item.type}}</li>
                    <li>{{item.location}}</li>
                    <li>{{item.priceRange}}</li>
                  </ul>
                  <button ng-click="editing = true"  ng-hide="editing" class="btn btn-warning btn-xs">Edit</button>
                </div>
              <span class="form-group" ng-show="editing" ng-submit="editing = false">
                <form class="form-inline" role="form">
                  <input type = "text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required/>
                  <input type = "text" class="form-control input-sm" ng-model="item.type" placeholder="Type" required/>
                  <input type = "text" class="form-control input-sm" ng-model="item.location" placeholder="Location" required/>
                  <input type = "text" class="form-control input-sm" ng-model="item.priceRange" placeholder="PriceRange" required/>
                  <button class="btn btn-primary btn-sm" type="submit">Save</button>
                </form>
              </span>
            </li>
          </ul>
        </div>

        <div class="col-md-4">
          <h2>New Restaurant</h2>
          <form ng-submit="addRestaurant()" class="form" role="form">
              <input type="text" ng-model="restaurantName" class="form-control" placeholder="Enter name">
              <input type="text" ng-model="restaurantType" class="form-control" placeholder="Enter type">
              <input type="text" ng-model="restaurantLocation" class="form-control" placeholder="Enter location">
              <input type="text" ng-model="restaurantPriceRange" class="form-control" placeholder="Enter price range">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

      </div>
    </div>
  </body>
</html>
